.custom-button {
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
}

.custom-button.primary {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
}

.custom-button.primary:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.custom-button.secondary {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.custom-button.secondary:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
}

.custom-button.tertiary {
    color: var(--tertiary-color);
}

.custom-button.tertiary:hover {
    color: var(--black);
}

.custom-button.accept {
    color: green;
    background-color: var(--primary-color);
    border: 2px solid green;
}

.custom-button.accept:hover {
    color: var(--primary-color);
    background-color: green;
}