.custom-button {
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
}

.custom-button.contained.primary {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    opacity: 0.7;
}

.custom-button.contained.primary:hover {
    opacity: 1;
}

.custom-button.outlined.primary {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    opacity: 0.7;
}

.custom-button.outlined.primary:hover {
    opacity: 1;
}

.custom-button.text.secondary {
    color: var(--secondary-color);
    background-color: transparent;
    opacity: 0.7;
}

.custom-button.text.secondary:hover {
    opacity: 1;
}

.custom-button.outlined.secondary {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.custom-button.outlined.secondary:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
}

.custom-button.outlined.tertiary {
    color: var(--tertiary-color);
}

.custom-button.outlined.tertiary:hover {
    color: var(--black);
}

.custom-button.outlined.accept {
    color: green;
    background-color: var(--primary-color);
    border: 2px solid green;
}

.custom-button.outlined.accept:hover {
    color: var(--primary-color);
    background-color: green;
}