#logo {
    width: 35%;
    height: 30%;

    /* Estas dos líneas siguientes centran la imagen */
    display: block;
    margin: 0 auto;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 60px;

    margin-top: auto;
    margin-bottom: auto;

    text-align: center;
}

#gracias {
    /* margin-left: 20px;  */
    font-size: 25px;
    color: #000000;
    font-family: 'Roboto', sans-serif; font-weight: 600;
    text-align: center;
}

#como_jugar {
    text-decoration: underline;
    font-size: 30px;

    margin-top: 30px;
    margin-left: 25px;
}


#explicacion_juego {
    font-size: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}

#imagen2 {
    width: 70%;
    height: 30%;

    /* Estas dos líneas siguientes centran la imagen */
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.divo1 {
    border-collapse: separate;
    width: auto;

    /* background: #ccdde2aa; */
    background: var(--transparent-background);

    border-radius: 20px;
    border: 2px solid black;
    padding: 5px;
}

.divo2 {
    border-collapse: separate;
    width: auto;

    /* background-color: #ccdde2aa; */
    background: var(--transparent-background);

    border-radius: 20px;
    border: 2px solid black;
    padding: 5px;

    margin-top: 30px;
    margin-bottom: -30px;
}