form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

form div input {
    margin: 0.1rem;
    border: 0.1rem solid var(--secondary-color);
    border-radius: 1rem;
    background-color: var(--primary-color);
}

form div {
    flex-direction: row;
    margin: 0.1rem;
    justify-content: flex-end;
}

