/* body {
    font-family: Arial, sans-serif;

    background-image: url(../../public/assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

body {
    font-family: Arial, sans-serif;
    position: relative;
}
  
body::before {
    content: "";
    background-image: url(../../public/assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.925;
}


.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content {
    flex: 1;
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem;
}

.flex-box {
    border-radius: 20px;
    border: 2px solid black;
    /* background: #e2d7ccc1; */
    background: var(--transparent-background);
    padding: 20px;
    
    /* flex-direction: column; */
    width: 70%;
    margin: 0 auto; /* Esto es para centrar la flex-box */

    flex-wrap: wrap;
    

    justify-content: center;

    grid-template-columns: repeat(1, 1fr); /* Estas dos líneas son importantes */
    justify-items: center; /* Estas dos líneas son importantes */

    align-self: start;
    align-items: center;

    text-align: center;


    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5%;

}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}