body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282D35;
}

nav {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 5rem;
    padding: 1rem;
}

nav div {
    height: 100%;
}

.links {
    flex: 3;
    display: flex;
    justify-content: flex-end;
}

.links > *:not(:last-child) {
    margin-left: 5rem;
}

.big-logo {
    flex: 1;
}

.big-logo a img {
    height: 100%;
}

