body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282D35;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 5rem;
    padding: 0.5rem;
    padding-bottom: 1rem;

}

nav div {
    height: 100%;
}

.links {
    flex: 3;
    display: flex;
    justify-content: flex-end;
}

.near-links {
    display: flex;
    margin-left: 6rem;
}

.big-logo {
    flex: 1;
}

.big-logo a img {
    height: 100%;
}

.links img {
    margin: 0.3rem;
    width: 3.6rem;
    height: 3.6rem;
    object-fit: cover;
    border-radius: 0.6rem;

    -webkit-user-select: none; /* Chrome, Safari y Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer y Edge */
    user-select: none;         /* Estándar CSS3 */
    -webkit-user-drag: none;   /* Evitar el arrastre en Chrome, Safari y Opera */
    -khtml-user-drag: none;    /* Evitar el arrastre en Konqueror */
}

.navbar-container {
    background-color: var(--background-color);
    border-radius: 0.6rem;
    border: var(--black) 0.1rem solid;
    max-width: 18rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    height: 5rem;
}

.container-title {
    text-align: center;
    font-weight: bold;
}

.container-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
a {
    cursor: pointer;
}

a.used {
    opacity: 0.4;
    cursor: not-allowed;
}

a.available:hover {
    opacity: 0.7;
}

.family-members a img {
    border: var(--success) 0.15rem solid;
}

.family-members a.used img {
    border: var(--secondary-color) 0.15rem solid;
}

.current-turn .on-turn {
    border: var(--selected) 0.15rem solid;
}

.current-turn .not-on-turn {
    opacity: 0.5;
}