:root {
  --primary-color: #FFC907;
  --secondary-color: #D73A31;
  --tertiary-color: #423a3abd;
  --white: #fff;
  --black: #000;
  --success: #28a745;
  --selected: rgb(29, 255, 9);
  --error: #dc3545;
  --walk-color: #ebdf2c;
  --bike-color: #24da27;
  --car-color: #f74545;
  --background-color: aliceblue;
  --transparent-background: #e2d7cce9;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

#logo {
  max-width: 15rem;
  height: auto;
}